body {
	min-width: 800px;
	margin: 0;
	padding: 0;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	line-height: 1.714;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
}
*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}

.index-page {
	background: rgb(0, 0, 0) url("../img/barbershop-index.jpg") no-repeat center top;
	background-size: 1800px auto;
}

.second-page {
	background: url("../img/background-page.png");
	color: rgb(0, 0, 0);
}

.container {
	width: 940px;
	margin: 0 auto;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

h1 {
	font-size: 30px;
	margin-top: 60px;
	margin-bottom: 30px;
}

h2 {
	font-size: 24px;
}


/*Header*/

.main-header {
	padding: 5px 0;
	min-width: 20px;
	background-color: rgb(0, 0, 0);
}

.main-navigation {
	float: left;
	width: 620px;	/*для сетки*/
	min-height: 50px;	/*для сетки*/
}
.main-navigation ul{
	font-size: 0;
	vertical-align: middle;
}
.main-navigation li{
	display: inline-block;
	font-size: 16px;
	margin-right: 42px;
}
.main-navigation li:last-of-type{
	margin-right: 0;
}
a.login,
.main-navigation li>a{
	color: rgb(255, 255, 255);
	text-decoration: none;
}
.user-block {
	float: right;
	width: 70px;	/*для сетки*/
	min-height: 50px;	/*для сетки*/
}

.login {
	display: block;
	text-decoration: none;
	position: relative;
}


/*Main content*/

.main-container {
	margin: 57px auto;
}

.logo {
	width: 368px;
	margin: 0 auto;
	margin-bottom: 20px;
	min-height: 204px;	/*для сетки*/
}


/*Feauters*/

.features-row {
	margin-bottom: 35px;
	padding: 5px;	/*для сетки*/
	text-align: center;
}

.features-item {
	float: left;
	width: 284px;	/*для сетки*/
	margin-right: 24px;
	min-height: 165px;
}

.features-item:last-child {
	margin-right: 0px;
}

.features-title {
	position: relative;
	font-size: 30px;
	margin-bottom: 80px;
}

.features-title:after {
	margin: 0 auto;
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	background: url(../img/square.png)no-repeat 0 0;
}


/*Index content*/

.index-content {
	margin-bottom: 20px;
	padding: 35px 40px;
	background: url(../img/separator.png) no-repeat center, url(../img/background-page.png);
}

.content-column-left,
.content-column-right {
	min-height: 230px;	/*для сетки*/
	width: 320px;
	padding: 20px;
	color: rgb(0, 0, 0);
}

.content-column-left {
	float: left;
}

.content-column-right {
	float: right;
}

.content-column-title {
	font-size: 30px;
}


/*Catalog*/
.catalog {
	
}
ul.breadcrumbs{
	margin-bottom: 60px;
}
.breadcrumbs a{
	display: block;
	color: rgb(0, 0, 0);
	text-decoration: none;
}
.breadcrumbs li{
	display: inline-block;
	padding: 0 27px 0 17px;
	background: url("../img/rhombus.png") no-repeat right;
}
.breadcrumbs li:first-of-type{
	padding-left: 0;
}
.breadcrumbs li:last-of-type{
	background-image: none;
}
.breadcrumbs-active{
	color: rgb(171, 169, 167);
}
.catalog-column-left {
	float: left;
	width: 200px;
	outline: 1px dashed pink;	/*для сетки*/
	margin-right: 20px;
}
.catalog-filter-title{
	margin-bottom: 35px;
}
ul.catalog-filter-brands li,
ul.catalog-filter-type li{
	padding-left: 43px;
	margin-bottom: 15px;
}
ul.catalog-filter-brands li{
	background: url("../img/unchecked.png") no-repeat left;
}
ul.catalog-filter-type li{
	background: url("../img/unselect.png") no-repeat left;
}
ul.catalog-filter-type li.selected{
	background: 
		url("../img/selected.png") no-repeat left,
		url("../img/unselect.png") no-repeat left;
}
ul.catalog-filter-brands li.checked{
	background: 
		url("../img/checked.png") no-repeat left,
		url("../img/unchecked.png") no-repeat left;
}
ul.catalog-filter-brands li>a,
ul.catalog-filter-type li>a{
	color: rgb(0, 0, 0);
	text-decoration: none;
}


.catalog-column-right {
	float: right;
	width: 720px;
	font-size: 0;
	margin-bottom: 45px;
}

.catalog-item {
	display: inline-block;
	vertical-align: top;
	width: 220px;
	min-height: 285px;
	margin-right: 15px;
	margin-bottom: 20px;
	margin-left: 0;
	font-size: 14px;
	outline: 1px dashed blue;	/*для сетки*/
}

.catalog-item:nth-child(3n) {
	margin-right: 0;
}

.pagination {
	font-size: 14px;
}


/*Catalog-Item*/
.item-column-right {
	float: right;
	width: 400px;
}
.item-gallery {
	float: left;
	width: 460px;
	font-size: 0;
	margin-right: 70px;
	margin-bottom: 40px;
}
.item-gallery-large{
	margin-bottom: 20px;
	box-shadow: 0 0 15px rgb(224, 221, 218);
}

.item-gallery-small {
	display: inline-block;
	box-shadow: 0 0 15px rgb(224, 221, 218);
	margin-right: 20px;
	margin-bottom: 20px;
}
.item-gallery-small:nth-child(4n){
	margin-right: 0; /*Почему, если указать 3n, считается не третяя маленькая превьюшка, а вторая?*/
	box-shadow: 0 0 25px 5px rgb(224, 221, 218);
}

.item-info {
	height: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.item-instoke {
	float: left;
}

.item-art {
	float: right;
}
ul.list li{
	background: url("../img/rhombus.png") no-repeat left;
	padding-left: 20px;
}


/*Price*/

.price-title {
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 76px;
}

.price-row {
	margin-bottom: 70px;
}

.price-column-left {
	float: left;
	width: 40%;
	margin-right: 80px;
}

.price-column-right {
	float: left;
	width: 45%;
}

.price-row p {
	display: inline-block;
	width: 380px;
	margin-bottom: 10px;
}

.price-row p:first-child {
	float: left;
	margin-right: 15px;
}

.price-row p:last-child {
	float: left;
	margin-right: 80px;
}


/*Footer*/

.main-footer {
	padding: 20px 0;
	background: url("../img/background-footer.png");
	color: rgb(255, 255, 255);
}
.main-footer a{
	color: rgb(255, 255, 255);
}

.footer-contacts {
	float: left;
	width: 305px;
	margin-right: 35px;
	min-height: 90px;	/*для сетки*/
	outline: 1px dashed pink;	/*для сетки*/
}

.footer-social {
	float: left;
	width: 156px;
	min-height: 80px;	/*для сетки*/
	outline: 1px dashed pink;	/*для сетки*/
}

.footer-copyright {
	float: right;
	width: 220px;
	min-height: 80px;	/*для сетки*/
	outline: 1px dashed pink;	/*для сетки*/
}

.social-btn {
	display: inline-block;
	width: 43px;
	height: 43px;
	background-color: rgb(0, 0, 0);
}

